#site-main {
    margin: auto;
}

.sidebar {
    background-color: #abd1d9;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 480px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}
.sidebar-name {
    text-align: center;
}
.sidebar-introduction {
    padding-top: 40px;
    font-weight: 400;
}
.sidebar-introduction strong {
    font-size: 22px;
    font-weight: 500;
}
.sidebar-introduction p {
    text-align: justify;
    color: #3d778c;
    font-size: 18px;
    line-height: 28px;
}
.sidebar-btns button a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.sidebar-btns button {
    background-color: #3d778c;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    transition: 0.4s;
}
.sidebar-btns button:focus {
    outline: none;
}
.sidebar-btns button:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}
.sidebar-self {
    position: absolute;
    bottom: 0;
    width: 360px;
    z-index: -999;
}
.content {
    margin-left: 480px;
    padding: 80px 80px;
}

.site-header {
    margin-top: 60px;
}
.site-title {
    font-size: 48px;
}
.site-tabs {
    margin-bottom: 20px;
}
.site-tab {
    display: inline-block;
    height: 40px;
    width: 120px;
    border: 2px solid #3d778c;
    border-radius: 20px;
    color: #3d778c;
    font-weight: 400;
    padding: 6px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.site-tab-selected {
    background: #3d778c;
    color: #fff;
    transition: all ease 0.2s;
}

.post-card-image-text {
    position: absolute;
    align-items: center;
    padding: 10px;
    top: 50%;
    margin: auto;
    width: 100%;
    text-align: center;
    text-shadow: 1px 0 8px rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: 0.5s ease;
    transform: translateY(-50%);
}
.post-card-image-title {
    font-size: 26px;
    font-weight: 400;
}
.post-card-image-text p {
    font-size: 18px;
}
.post-card-image-text hr {
    margin: 0.5em;
    color: #fff;
    border-top: 1px solid #fff;
}
.post-card-image-link {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
    background-color: #3d778c;
    border-radius: 12px;
}
.post-card-image-link img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.125);
    transition: all ease-out 0.2s;
}

.post-card-image-link img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease;
}

.post-card-image-link:hover img {
    transform: scale(1.2);
    opacity: 0.5;
}

.post-card-image-link:hover .post-card-image-text {
    opacity: 1;
}

.site-wrapper {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .site-wrapper {
        width: 85%;
    }
}
@media (min-width: 1024px) {
    .site-wrapper {
        width: 65%;
    }
}
@media (min-width: 1200px) {
    .site-wrapper {
        width: 55%;
    }
}
