body {
    background-color: #fff;
}
.post-content blockquote,
.post-content dl,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content ol,
.post-content p,
.post-content pre,
.post-content ul {
    min-width: 100%;
}
.inner {
    margin: 0 auto;
}
.post-cover {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

h1.post-title {
    font-size: 48px;
}

.post-content {
    margin-top: 80px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.post-content h1.post-title {
    font-size: 4em;
}
.post-content h2 {
    font-size: 2em;
}
.post-content h3 {
    font-size: 1.6em;
}
.post-content h4 {
    font-size: 1.2em;
}
.post-content hr {
    width: 90%;
    margin: 30px auto;
    border: none;
    border-top: 1px solid #c9d3df;
}
.post-content blockquote {
    padding-left: 1.6em;
    border-left: 0.4rem solid #efb9cd;
}
.post-content img {
    display: block;
    max-width: 100%;
}
.post-content img.transparent {
    opacity: 0.5;
    width: 50%;
    margin: auto;
    transition: 0.3s;
}
.post-content img.transparent:hover {
    opacity: 1;
    width: 100%;
    transition: 0.3s;
}

.post-content .horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 500px;
}
.post-content .horizontal-scroll-wrap {
    position: relative;
}
.post-content .horizontal-scroll img {
    height: 100%;
    max-width: unset;
}
.horizontal-scroll-btn {
    position: absolute;
    cursor: pointer;
    text-align: center;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.8);
    top: 40%;
    height: 100px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}
.horizontal-scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}
.horizontal-scroll-toright {
    left: 0;
}
.horizontal-scroll-toleft {
    right: 0;
}
.post-content .full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-content .full-screen > div {
    min-width: 100vw;
}
.post-content .full-screen > div > div.full-screen-container {
    margin: auto;
}
.post-content .full-screen img {
    min-width: 100vw;
}
.post-content figcaption {
    font-family: "Fira Code", Consolas, "Liberation Mono", Menlo, monospace;
    margin-top: 6px;
    color: #666;
    font-size: 0.86em;
    text-align: center;
}

.post-content :not(pre) > code {
    background: #ebeef0;
    padding: 1px 5px;
    margin: 0 4px;
    border-radius: 3px;
    vertical-align: middle;
}

.post-content pre {
    font-size: 16px;
    line-height: 1.8;
    background-color: #ebeef0;
    padding: 1rem;
    margin-bottom: 1.5em;
    border-radius: 3px;
}
.project-info {
    min-width: 100%;
}
.project-info ul {
    margin: 0;
    padding-left: 1em;
}

.post-full {
    width: 90%;
    margin: 0 auto;
}

/* topnav */
.nav-wrapper {
    height: 60px;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    align-items: center;
    box-shadow: 0 2px 4px hsla(0, 0%, 50%, 0.12);
}
.nav-back-icon {
    float: left;
}
.nav-forward-icon {
    float: right;
}
.nav-icon {
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}
.nav-icon i {
    line-height: 60px;
    width: 60px;
}
.nav-icon i::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    top: 15px;
    background-color: transparent;
    transition: all ease-out 0.2s;
}
.nav-back-icon i::before {
    left: 15px;
}
.nav-forward-icon i::before {
    right: 15px;
}
.nav-icon i:hover::before {
    width: 45px;
    height: 45px;
    top: 7.5px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all ease-out 0.2s;
}
.nav-back-icon i:hover::before {
    left: 7.5px;
    transition: all ease-out 0.2s;
}
.nav-forward-icon i:hover::before {
    right: 7.5px;
    transition: all ease-out 0.2s;
}
.nav-icon a {
    color: #3d778c;
}
.nav-item {
    position: absolute;
    top: 16px;
}
.nav-item li {
    display: inline;
}
.nav-item a {
    font-family: "Hammersmith One", sans-serif;
    text-decoration: none;
    color: #3d778c;
    transition: 0.2s;
}
.nav-left {
    left: 40px;
    padding-left: 30px;
}
.nav-left a:hover {
    color: #dd8794;
    transition: 0.2s;
}
.nav-right a:before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 26px;
    z-index: 7;
    left: 0;
    background-color: #3d778c;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    -o-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    will-change: transform;
}

.nav-right a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-right a:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    z-index: 8;
    left: 0;
    background-color: #3d778c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    -o-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
/* end of topnav */

/* side nav */
#TableOfContents li {
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
#TableOfContents ul {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
#TableOfContents li a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: all ease-in 0.2s;
    color: rgba(0, 0, 0, 0.2);
}
#TableOfContents li a:hover {
    transition: all ease-in 0.2s;
    color: #000;
}
.post-toc {
    position: fixed;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 20px;
    top: 35%;
    right: 10px;
    z-index: 99;
    transition: all ease 0.2s;
}
.post-toc:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: all ease 0.2s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* start of glide */
.glide-main-img {
    height: 600px;
    margin: 10px auto;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.glide__slides {
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s !important;
}
.glide__slides li {
    list-style: none;
    opacity: 0.5;
    transition: 0.3s;
}
li.glide__slide--active {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.3s;
}
.glide__slides li img {
    cursor: pointer;
    height: 60px;
    margin: auto;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.glide__arrow {
    color: #888;
    position: absolute;
    top: 40%;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.2s;
}
.glide__arrow:hover {
    color: #444;
    transition: 0.2s;
}

.glide__arrow--prev {
    left: -25px;
}
.glide__arrow--next {
    right: -25px;
}
/* end of glide */

.lightbox {
    cursor: pointer;
}
.lightbox-wrap {
    position: fixed;
    display: none;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}
.lightbox-container {
    padding-top: 60px;
    z-index: 1001;
}
.lightbox-img {
    display: block;
    margin: auto;
    max-width: 85vw;
    max-height: 60vh;
}
.lightbox-caption {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    max-width: 85vw;
}
.lightbox-close {
    float: right;
    padding: 20px;
    cursor: pointer;
    color: #000;
    top: 0;
    right: 0;
}
.social-links {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.social-links a {
    color: #aad0d8;
    margin-right: 30px;
    transition: 0.2s;
}
.social-links a:hover {
    color: #3d778c;
    transition: 0.2s;
}

.contrast-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    transition: 0.1s;
}

.contrast-btn a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.contrast-btn:hover {
    background-color: #000;
    color: #fff;
    transition: 0.1s;
}

.card {
    max-width: 600px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 2px;
    position: relative;
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0 2px 9px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
    transition: 0.2s;
}
.card a {
    position: absolute;
    height: 100%;
    width: 100%;
}
.card-content {
    padding: 1.5rem;
}
.card-content h4 {
    font-size: 2.5rem;
    padding-bottom: 5px;
    margin: 0;
}
.card-content p {
    margin: 0;
}

#to-top {
    position: fixed;
    cursor: pointer;
    text-align: center;
    color: #eee;
    bottom: 40px;
    right: 60px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    border-radius: 50%;
    transition: 0.3s ease;
}
#to-top:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#to-top i {
    line-height: 50px;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .slider-for .slick-slide {
        height: 240px;
    }
}
@media (min-width: 768px) {
    .post-full {
        width: 85%;
    }
    .post-content .full-screen > div > div.full-screen-container {
        width: 85%;
    }
}

@media (min-width: 1200px) {
    .post-full {
        width: 65%;
    }
    .post-content .full-screen > div > div.full-screen-container {
        width: 65%;
    }
}
