<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <aside class="post-toc">
        {{ .TableOfContents }}
    </aside>
    <div class="site-wrapper">
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="/slick/slick.min.js"></script>
        <link rel="stylesheet" href="/slick/slick.css">
        <link rel="stylesheet" href="/slick/slick-theme.css">
        <link rel="stylesheet" href="/css/post.css">

        {{ if .Params.feature_img }}
        <img class="post-cover" src="/images/{{ .Params.feature_img }}">
        {{ end }}
        <div class="inner">
            <article class="post-full">
                <section class="post-full-content">
                    <div class="post-content">
                        <h1 class="post-title">{{ .Title}}</h1>
                        {{ .Content }}
                    </div>
                </section>
            </article>
        </div>
    </div>
    <script>
        $('.slider-for').slick({
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
            adaptiveHeight: false

        });
        $('.slider-nav').slick({
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            centerMode: true,
            focusOnSelect: true,
            variableWidth: true,
            infinite: false
        });
    </script>

</body>

</html>