<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}

    {{ if not (eq $.Params.toc false) }}
    {{ partial "toc.html" . }}
    {{ end }}
    <div class="site-wrapper">
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.2.4/dist/glide.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.2.4/dist/css/glide.core.css">
        <link rel="stylesheet" href="/css/post.css?{{ now.Unix }}">
        {{ if and (isset .Params "color_bg") (isset .Params "color_a") (isset .Params "color_b") }}
        <style>
            body{
                background-color: {{ .Params.color_bg }};
            }
            h2{
                color: {{ .Params.color_a }}
            }
            strong, b{
                color: {{ .Params.color_a }}
            }
            h3{
                color: {{ .Params.color_b }}
            }
        </style>
        {{ end }}

        {{ if .Params.feature_img }}
        <img class="post-cover" src="/images/{{ .Params.feature_img }}">
        {{ end }}
        <div class="inner">
            <article class="post-full">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </article>
        </div>
    </div>

</body>

</html>
