<article class="column is-half post-card">
    <a class="post-card-image-link" href="{{ .URL }}">
        <img src="/images/{{ .Params.cover_img }}" />
        <!-- <div class="post-card-image-title"></div> -->
        <div class="post-card-image-text">
            <div class="post-card-image-title">{{ .Title }}</div>
            <hr>
            <p>{{ .Params.description }}</p>
        </div>
    </a>
    <section class="post-card-tags" style="display: none">
        <ul>
            {{ range .Params.keywords }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    </section>
</article>
