<article class="post-card columns">
    <div class="column post-card-img">
        <a class="post-card-image-link" href="{{ .Permalink }}">
            <img src="/img/cover-sample.png">
        </a>
    </div>
    <div class="column post-card-text">
        <a href="{{ .Permalink }}"><h2 class="post-card-title">{{ .Title }}</h2></a>
        <section class="post-card-tags">
            <ul>
                <li>Tag A</li>
                <li>Tag B</li>
            </ul>
        </section>
    </div>
</article>