<div class="nav-wrapper">

    {{ if .NextInSection }}
        {{ with .NextInSection }}
        <div class="nav-back-icon nav-icon">
            <a href="{{.Permalink}}"><i class="material-icons">arrow_back</i></a>
        </div>
        {{ end }}
    {{ else }}
        <div class="nav-back-icon nav-icon">
            <a href="/"><i class="material-icons">arrow_back</i></a>
        </div>
    {{ end }}
    
    <div class="nav-item nav-left">
        <a href="/">YE TIAN</a>
    </div>
    <div class="nav-item nav-right" style="right: 160px">
        <a href="/about">ABOUT</a>
    </div>
    <div class="nav-item nav-right" style="right: 70px">
        <a href="/files/resume.pdf" target="_blank">RESUME</a>
    </div>

    {{ with .PrevInSection }}
    <div class="nav-forward-icon nav-icon">
        <a href="{{.Permalink}}"><i class="material-icons">arrow_forward</i></a>
    </div>
    {{ end }}

</div>