<div class="nav-wrapper">
    <div class="nav-back-icon nav-icon">
        <a href="/"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="nav-item nav-item-left">
        <a href="/about">YE TIAN</a>
    </div>
    <div class="nav-item nav-item-right">
        <a href="/resume">ABOUT</a>
    </div>
    <!-- <ul class="nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.navbar }}
        <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "navbar" . ) ($currentPage.HasMenuCurrent "navbar" . ) }}nav-current{{ end }}"><a
                href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul> -->
    {{ with .PrevInSection }}
        <div class="nav-forward-icon nav-icon">
            <a class="next" href="{{.Permalink}}"><i class="material-icons">arrow_forward</i></a>
        </div>
    {{ end }}

</div>