<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}

    <div class="site-wrapper">
        <link rel="stylesheet" href="/css/index.css">
        <div class="site-header">
            <div class="site-header-content">
                <h1 class="site-title">{{ .Site.Title }}</h1>
                <p class="site-description">Site Description</p>
            </div>
        </div>
        <div id="site-main" class="site-main outer">
            <div class="index-posts">
                {{ range (.Paginate .Pages).Pages }}
                    {{ partial "card.html" . }}
                {{ end }}
            </div>
        </div>
    </div>

</body>

</html>