<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

{{ partial "head.html" . }}

<body>
    <link rel="stylesheet" href="/css/index.css?{{ now.Unix }}">
    <script src="/js/app.js"></script>
    <div class="sidebar">
        <div class="sidebar-name">
            <img src="/assets/name.png" />
        </div>
        <div class="sidebar-introduction">
           <p>{{ .Site.Params.introduction | markdownify }}</p>
        </div>
        <div class="sidebar-btns">
            <button><a href="/about">ABOUT</a></button>
            <button><a href="/files/resume.pdf" target="_blank">RESUME</a></button>
        </div>
        <div class="sidebar-self">
            <img src="/assets/self.png">
        </div>
    </div>
    <div class="content">
        <div class="site-tabs">
            {{ range $index, $tag := .Site.Params.Tags }}
                {{ if (eq $index 0) }}
                    <div class="site-tab site-tab-selected">{{ $tag }}</div>
                {{ else }}
                    <div class="site-tab">{{ $tag }}</div>
                {{ end }}
            {{ end }}
        </div>
        <div id="site-main" class="site-main outer">
            <div class="index-posts columns is-multiline">
                {{ range where .Site.RegularPages "Section" "==" "posts" }}
                {{ partial "card.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>
