{{ $images := .Params }}
<div class="slider-container">
    <div class="slider slider-for">
        {{ range $index, $img := $images }}
            {{ if ( modBool $index 2 ) }}
            <figure style="margin-bottom: 30px;">
            <img src="{{ $img }}" alt="{{ $img }}">
            {{ else }}
            <figcaption>{{ $img }}</figcaption>
            </figure>
            {{ end }}
        {{ end }}
    </div>
    <div class="slider slider-nav">
        {{ range $index, $img := $images }}
        {{ if ( modBool $index 2 ) }}
        <div>
            <img src="{{ $img }}" alt="{{ $img }}">
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>